/* ========= DESTINATION ========= */
.destination {
    background: url(../img/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-subheading {
        font-family: var(--ff-sans-cond);
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2.7px;
        margin-bottom: 2rem;
    }

    &-subheading-number {
        font-family: var(--ff-sans-cond);
        font-weight: 700;
        font-size: 16px;
        color: var(--clr-grey);
        margin-inline-end: 0.75em;
    }

    &-img {
        width: 50%;
        height: auto;
        margin-bottom: 2rem;
    }

    &-data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-navigation {
        margin-bottom: 2rem;
    }

    &-nav-link {
        font-family: var(--ff-sans-cond);
        text-transform: uppercase;
        font-size: 14px;
        color: var(--clr-light);
        letter-spacing: 2.36px;
    }
    
    &-nav-link:hover {
        color: var(--clr-white);
        cursor: pointer;
        text-decoration-line: underline; 
    }

    &-nav-link:after {
        content: "";
        position: absolute;
        height: 3px;
        background-color: var(--clr-white);
        width: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    &-nav-link:hover:after {
        width: 100%;
    }

    &-title {
        font-family: var(--ff-serif);
        font-weight: 100;
        text-transform: uppercase;
        color: var(--clr-white);
        font-size: 56px;
        padding-bottom: 0.5rem;
    }

    &-description {
        color: var(--clr-light);
        font-size: 15px;
        line-height: 1.5rem;
    }

    &-numbers {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &-line {
        width: 327px;
        height: 1px;
        background-color: var(--clr-grey);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-numbers-description {
        color: var(--clr-light);
        font-size: 15px;
        letter-spacing: 2.36px;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    &-numbers-distance,
    &-numbers-time {
        font-family: var(--ff-serif);
        color: var(--clr-white);
        text-transform: uppercase;
        font-size: 28px;
    }

}