/* ========= HOME ========= */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.home {
    background: url(../img/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 35rem) {
    .home {
        background-image: url(../img/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(../img/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}