/* ========= FONT ========= */
@font-face {
  font-family: "Barlow Condensed";
  src: url("../font/BarlowCondensed-Bold.woff2") format("woff2"), url("../font/BarlowCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../font/BarlowCondensed-Regular.woff2") format("woff2"), url("../font/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellefair";
  src: url("../font/Bellefair-Regular.woff2") format("woff2"), url("../font/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Bold.woff2") format("woff2"), url("../font/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Regular.woff2") format("woff2"), url("../font/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  /* ========= COLORS ========= */
  /* ========= Primary ========= */
  --clr-dark: hsl(230, 35%, 7%);
  --clr-grey: hsl(231, 15%, 26%);
  --clr-light: hsl(231, 76%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  /* ========= FONT and TYPOGRAPHY ========= */
  --ff-serif: "Bellefair";
  --ff-sans-cond: "Barlow Condensed";
  --ff-sans-normal: "Barlow";
  /* ========= Font sizes ========= */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* ========= Margenes ========= */
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 2.5rem;
  --mb-2: 2rem;
}

/* ========= BASE ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  font-size: var(--font-normal);
  overflow-x: hidden;
  transition: 0.2s ease all;
}

p {
  font-family: var(--ff-sans-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= LAYOUT ========= */
.section {
  padding: 1rem 1rem 2rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-top: var(--mb-1);
}

/* ========= NAVBAR ========= */
.primary-logo {
  margin: 2rem;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  backdrop-filter: blur(1rem); /* Blur Effect */
}
.primary-nav-link {
  color: var(--clr-white);
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 2.7px;
}
.primary-navigation a > [aria-hidden=true] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.mobile-nav-toggle {
  display: none;
}

@supports (backdrop-filter: blur(1rem)) { /* Por si el navegador no admite este efecto */
  .primary-navigation {
    background-color: hsla(0deg, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem); /* Blur Effect */
  }
}
@media (max-width: 560px) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }
  .primary-nav-item:hover {
    border: none;
    height: 19px;
    border-right-style: solid;
    border-right-width: 7px;
    border-right-color: var(--clr-white);
  }
  .primary-active {
    border: none;
    height: 19px;
    border-right-style: solid;
    border-right-width: 7px;
    border-right-color: var(--clr-white);
  }
  .primary-line {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../img/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: none;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    transform: translateY(15px);
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../img/shared/icon-close.svg);
  }
}
@media (min-width: 560px) and (max-width: 880px) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}
@media (min-width: 560px) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 7vw, 10rem);
  }
}
/* ========= HOME ========= */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.primary-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-position: center;
  z-index: -1;
}
.primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.primary-subheading {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--clr-light);
  margin-bottom: 1.5rem;
}
.primary-title {
  color: var(--clr-white);
  font-weight: 100;
  font-size: 90px;
  font-family: var(--ff-serif);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.primary-description {
  color: var(--clr-light);
  font-size: 15px;
  line-height: 28px;
  max-width: 20rem;
}
.primary-button-container {
  padding: 7rem;
}
.primary-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  text-transform: uppercase;
  border-radius: 50%;
  font-family: var(--ff-serif);
  font-size: 20px;
}
.primary-button:hover, .primary-button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--clr-light);
  }
}
/* ========= CREW ========= */
.crew {
  /* Active item work*/
}
.crew-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.crew-subheading {
  font-family: var(--ff-sans-cond);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 2rem;
  text-align: center;
}
.crew-subheading-number {
  font-family: var(--ff-sans-cond);
  font-weight: 700;
  font-size: 16px;
  color: var(--clr-white);
  opacity: 25%;
  margin-inline-end: 0.75em;
}
.crew-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.crew-img {
  width: 50%;
  height: auto;
  transform: translateY(4px);
}
.crew-line {
  width: 327px;
  height: 2px;
  background-color: var(--clr-grey);
}
.crew-navigation-list {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.crew-swiper-button {
  filter: invert(80%) sepia(16%) saturate(447%) hue-rotate(196deg) brightness(106%) contrast(95%);
  opacity: 17.44%;
}
.crew-swiper-button:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  opacity: 50%;
}
.crew-swiper-button:active {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  opacity: 100%;
}
.crew-active {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  opacity: 100%;
}
.crew-profile {
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: var(--ff-serif);
  font-size: 16px;
  margin-bottom: 0.5rem;
  opacity: 49.51%;
}
.crew-name {
  font-family: var(--ff-serif);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 1rem;
}
.crew-description {
  color: var(--clr-light);
  font-size: 15px;
  line-height: 28px;
  max-width: 20rem;
}
.crew-swiper-button {
  width: 10px;
  height: 10px;
  color: var(--clr-light);
}

/* ========= DESTINATION ========= */
.destination {
  /* Active Item Destination*/
}
.destination-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.destination-subheading {
  font-family: var(--ff-sans-cond);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 2rem;
  text-align: center;
}
.destination-subheading-number {
  font-family: var(--ff-sans-cond);
  font-weight: 700;
  font-size: 16px;
  color: var(--clr-white);
  margin-inline-end: 0.75em;
  opacity: 25%;
}
.destination-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destination-img {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}
.destination-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destination-navigation {
  margin-bottom: 2rem;
}
.destination-nav-link {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--clr-light);
  letter-spacing: 2.36px;
}
.destination-nav-link:hover {
  color: var(--clr-white);
  opacity: 50%;
  cursor: pointer;
  border-bottom-style: solid;
  padding-bottom: 10px;
}
.destination-active {
  color: var(--clr-white);
  cursor: pointer;
  border-bottom-style: solid;
  padding-bottom: 10px;
}
.destination-title {
  font-family: var(--ff-serif);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 56px;
  padding-bottom: 0.5rem;
}
.destination-description {
  color: var(--clr-light);
  font-size: 15px;
  line-height: 28px;
  max-width: 20rem;
}
.destination-numbers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.destination-line {
  width: 327px;
  height: 1px;
  background-color: var(--clr-grey);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.destination-numbers-description {
  color: var(--clr-light);
  font-size: 15px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.destination-numbers-distance, .destination-numbers-time {
  font-family: var(--ff-serif);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 28px;
}

/* ========= TECHNOLOGY ========= */
.technology {
  /* Active Item Technology*/
}
.technology-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.technology-subheading {
  font-family: var(--ff-sans-cond);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 2rem;
  text-align: center;
}
.technology-subheading-number {
  font-family: var(--ff-sans-cond);
  font-weight: 700;
  font-size: 16px;
  color: var(--clr-white);
  margin-inline-end: 0.75em;
  opacity: 25%;
}
.technology-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.technology-numbers-container {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  justify-content: center;
}
.technology-numbers-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--clr-grey);
  color: var(--clr-white);
  text-align: center;
  font-family: var(--ff-serif);
}
.technology-numbers-circle:hover {
  border: 1px solid var(--clr-white);
  cursor: pointer;
}
.technology-numbers-circle:active {
  border: 1px solid var(--clr-white);
  color: var(--clr-dark);
  background-color: var(--clr-white);
}
.technology-active {
  border: 1px solid var(--clr-white);
  color: var(--clr-dark);
  background-color: var(--clr-white);
}
.technology-info {
  padding-top: 2rem;
}
.technology-terminology {
  color: var(--clr-light);
  font-size: 13px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.technology-title {
  font-family: var(--ff-serif);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
  padding-bottom: 1rem;
}
.technology-description {
  color: var(--clr-light);
  font-size: 15px;
  font-family: var(--ff-sans-normal);
  line-height: 25px;
}

/* ========= MEDIAQUERIES ========= */
/* For medium devices */
@media screen and (min-width: 576px) {
  .primary-container {
    position: relative;
    top: 2rem;
  }
  .primary-subheading {
    font-size: 20px;
  }
  .primary-title {
    font-size: 120px;
  }
  .primary-description {
    max-width: 26rem;
    font-size: 16px;
  }
  .primary-button {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .primary-container {
    top: 5rem;
    gap: 3rem;
  }
  .primary-title {
    font-size: 150px;
  }
  .primary-description {
    max-width: 27.5rem;
  }
  .primary-button-container {
    padding: 4rem;
  }
  .primary-nav-link:hover {
    border-bottom-style: solid;
    padding-bottom: 30px;
    border-bottom-width: 3.1px;
    width: fit-content;
  }
  .primary-nav-active {
    border-bottom-style: solid;
    width: fit-content;
    padding-bottom: 30px;
  }
  .destination-subheading {
    text-align: left;
    font-size: 20px;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
  }
  .destination-subheading-number {
    font-size: 20px;
  }
  .destination-information {
    gap: 1rem;
  }
  .destination-nav-link {
    font-size: 16px;
  }
  .destination-title {
    font-size: 80px;
  }
  .destination-description {
    font-size: 16px;
    max-width: 35rem;
  }
  .destination-numbers {
    flex-direction: row;
    gap: 4rem;
  }
  .destination-line {
    width: 573px;
    height: 1px;
  }
  .crew-subheading {
    text-align: left;
    font-size: 20px;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .crew-subheading-number {
    font-size: 20px;
  }
  .crew-navigation-data {
    display: flex;
    flex-direction: column-reverse;
  }
  .crew-photo {
    position: absolute;
    bottom: 0;
  }
  .crew-img {
    width: 83%;
  }
  .crew-line {
    display: none;
  }
  .crew-navigation-list {
    margin-top: 1.2rem;
  }
  .crew-profile {
    font-size: 24px;
  }
  .crew-name {
    font-size: 40px;
  }
  .crew-description {
    font-size: 16px;
    max-width: 32rem;
  }
  .technology-subheading {
    text-align: left;
    font-size: 20px;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .technology-subheading-number {
    font-size: 20px;
  }
  .technology-container {
    gap: 1rem;
  }
  .technology-numbers-circle {
    width: 58px;
    height: 58px;
    padding: 14px;
    font-size: 24px;
  }
  .technology-terminology {
    font-size: 16px;
  }
  .technology-title {
    font-size: 40px;
  }
  .technology-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 27.5rem;
  }
}
/* For larger devices */
@media screen and (min-width: 992px) {
  .primary-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20rem;
  }
  .primary-container-data {
    text-align: left;
  }
  .primary-subheading {
    font-size: 28px;
  }
  .primary-title {
    font-size: 150px;
  }
  .primary-description {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1440px) {
  .primary-container {
    justify-content: space-around;
    top: 19rem;
  }
  .primary-button {
    width: 274px;
    height: 274px;
    font-size: 32px;
  }
  .primary-line {
    display: block;
    width: 800px;
    opacity: 25.15%;
    border: 1px solid var(--clr-white);
    transform: translateX(120px);
    z-index: 1;
  }
  .destination-subheading {
    margin-left: 10rem;
  }
  .destination-subheading, .destination-subheading-number {
    font-size: 28px;
  }
  .destination-container {
    position: relative;
    top: 6rem;
  }
  .destination-information {
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }
  .destination-img {
    width: 100%;
  }
  .destination-data-container {
    text-align: left;
  }
  .destination-data {
    align-items: flex-start;
    gap: 1rem;
  }
  .destination-navigation {
    gap: 1.5rem;
  }
  .destination-nav-link {
    letter-spacing: 2.7px;
  }
  .destination-title {
    font-size: 100px;
  }
  .destination-description {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    max-width: 35rem;
  }
  .destination-line {
    width: 534px;
  }
  .destination-numbers {
    justify-content: flex-start;
  }
  .crew-subheading {
    margin-left: 10rem;
  }
  .crew-subheading, .crew-subheading-number {
    font-size: 28px;
  }
  .crew-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    gap: 10rem;
    transform: translate(30%, 0);
  }
  .crew-photo {
    position: relative;
    bottom: 0;
  }
  .crew-img {
    width: 100%;
    height: auto;
  }
  .crew-navigation-data {
    text-align: left;
  }
  .crew-navigation-list {
    justify-content: flex-start;
    gap: 1rem;
    transform: translateY(6rem);
  }
  .crew-profile {
    font-size: 32px;
  }
  .crew-name {
    font-size: 56px;
  }
  .crew-description {
    font-size: 18px;
    line-height: 32px;
    max-width: 27rem;
  }
  .crew-swiper-button {
    width: 15px;
    height: 15px;
  }
  .technology-subheading {
    margin-left: 10rem;
  }
  .technology-subheading, .technology-subheading-number {
    font-size: 28px;
  }
  .technology-container {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 13rem;
    transform: translateY(5rem);
  }
  .technology-data-container {
    display: flex;
    gap: 3rem;
  }
  .technology-numbers-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .technology-numbers-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 20px;
    font-size: 32px;
  }
  .technology-info {
    text-align: left;
  }
  .technology-title {
    font-size: 56px;
  }
  .technology-description {
    font-size: 18px;
    line-height: 32px;
  }
}