/* ========= FONT ========= */
@font-face {
  font-family: "Barlow Condensed";
  src: url("../font/BarlowCondensed-Bold.woff2") format("woff2"), url("../font/BarlowCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../font/BarlowCondensed-Regular.woff2") format("woff2"), url("../font/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bellefair";
  src: url("../font/Bellefair-Regular.woff2") format("woff2"), url("../font/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Bold.woff2") format("woff2"), url("../font/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../font/Barlow-Regular.woff2") format("woff2"), url("../font/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  /* ========= COLORS ========= */
  /* ========= Primary ========= */
  --clr-dark: hsl(230, 35%, 7%);
  --clr-light: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  /* ========= FONT and TYPOGRAPHY ========= */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  /* ========= Font sizes ========= */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/* ========= BASE ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  font-family: var(--ff-sans-normal);
  font-size: var(--font-normal);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= LAYOUT ========= */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* ========= NAVBAR ========= */
.primary-logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  backdrop-filter: blur(1rem); /* Blur Effect */
}

@supports (backdrop-filter: blur(1rem)) { /* Por si el navegador no admite este efecto */
  .primary-navigation {
    background-color: hsla(0deg, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem); /* Blur Effect */
  }
}
.primary-navigation a > [aria-hidden=true] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../img/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: none;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../img/shared/icon-close.svg);
  }
}
@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 7vw, 10rem);
  }
}
/* ========= HOME ========= */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ========= MEDIAQUERIES ========= */